.game{
    width:252px;
    text-align:center;
    font-family:system-ui;
    color:white;
    margin:auto;
}
.title{
    background: #f25;
    padding:5px 0;
    margin:5px 0;
}
span{
    color:yellow;
}
.square{
height:80px;
width:80px;
background:#f25;
float:left;
margin:2px;
font-size:50px; 
}
.square:hover{
    background:#000;
    cursor:pointer;
}